* {
	box-sizing: border-box;
}

html, body {
	margin: 30px;
	font-family: sans-serif;
}

h1 {
	text-align: center;
}

h2 {
	padding: 50px 0 5px;
}

.container {
	display: flex;
	border: 5px solid #ffcc5c;
	padding: 0;
}