.nav-link {
	list-style-type: none;
	padding: 10px;
	text-align: center;
	font-size: 1.4rem;
}

.nav-link--search {
	flex: 1;
}

.search-input {
	outline: 0;
	border: none;
	width: 100%;
	border-bottom: 1px solid #000;
	font-size: 1.4rem;
	background: transparent;
}

.search-input::placeholder {
	color: #000;
}

@media (max-width: 600px) {
	.nav {
		flex-wrap: wrap;
	}

	.nav-link {
		flex: 1 1 50%;
	}

	.search-input {
		text-align: center;
	}
}

@media (max-width: 400px) {
	.nav-link {
		flex: 1 1 100%;
	}

	.nav-link--search {
		order: 1;
	}
}