.nav-link {
	list-style-type: none;
	padding: 10px;
	text-align: center;
	font-size: 1.4rem;
}

.nav-link--search {
	flex: 1;
}

.search-input {
	outline: 0;
	border: none;
	width: 100%;
	border-bottom: 1px solid #000;
	font-size: 1.4rem;
	background: transparent;
}

.search-input::placeholder {
	color: #000;
}